#tree {
    width: 25%;
    height: 15%;
    border: 1px solid #000;
    border-radius: 10px;
}

.listree {
    list-style: none;
}

.listree-submenu-items {
    list-style: none;
}

.listree-submenu-heading.collapsed:before {
    content: ">";
    margin-right: 4px;
}

.listree-submenu-heading.expanded:before {
    content: "V";
    margin-right: 4px;
}

.listree-submenu-items {
    list-style: none;
    border-left: 1px dashed black;
    white-space: nowrap;
    margin-right: 4px;
    padding-left: 20px;
}